<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MattsTranslator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>
        <div class="logo-container">
            <h1 id="page-logo">Welcome to Matt's Translator</h1>
        </div>
        <h2>Would you like to translate or define?</h2>
        <h3>This is a work in progress</h3>
        <div>
            
            <textarea id="textInput" placeholder="Please Enter Text"></textarea>
        </div>
        <div>      
            <button id="translateButton">Translate</button>
            <button id="defineButton">Define</button>
        </div>
        <div>

            